# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
.venv/
env/
venv/
*.env

# Poetry
poetry.lock
poetry.toml

# Poetry caches
.poetry/

# IDE configuration files
.vscode/
.idea/

# Python cache files
*.egg-info/
.eggs/

# Build folders for distributions
build/
dist/

# Temporary files
*.log
*.tmp

# .env (Sensitive information like API keys)
.env

# div
test.py
keys/